.App {
  text-align: center;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 22rem;
}

#inputQuantity {
  max-width: 3rem;
 }
 
 .cart {
   max-width: 500px;
 }
 
 .search {
   max-width: 500px;
 }
